body{
    background-color: gray;
}
.main {
    width:1150px;
    height:400px;
    background-color: gray;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
}
.super8{
    float:left;
    width:320px;
    height:400px;
    background-color:#f7584a;
    border: 10px solid white;
}
.setting{
    float:left;
    width:320px;
    height:400px;
    background-color: #f7584a; 
    border: 10px solid white;
    margin-left:10px;
}
.profile{
    float:right;
    width:320px;
    height:400px;
    background-color: #f7584a; 
    border: 10px solid white;
    margin-right: 110px;
}
.logoimg{
    margin-left: 50px;
}
h3{
    text-align: center;
    color: white;
}
label{
    color: white;
}
p{
    color: white;
    text-align: center;
}
button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    float: right;
    margin-right: 10px;
}
.setting_input{
    width: 310px;
    height: 20px;
}
.profile_input{
    width: 310px;
    height: 20px;
}
textarea{
    width: 310px;
    height: 70px;
}
.NameUpperM, .EmailUpperM, .PassUpperM, .Pass2UpperM{
    position: relative;
    float: right;
    margin-top: -20px;
    margin-right: 10px;
}
.SuccessMsg{
    height: 100px;
    width: 350px;
    text-align: center;
    margin: auto;
}
